@charset "utf-8";

header.header_empty{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden
}

header.header_empty h1 {
    color: #fff;
}
header.header_empty img {
    width: 85px;
}
section#section{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
div.table{
    width: 100vw;
    display: flex;
    justify-content:center;
}
div#user_titles h2,p{
    margin: 0;
    /*padding-left: 20px;*/
    
}
div#user_titles {
    /*background-color: #5e5e5e;*/
    width: 80%;
    height: 75px;
}
div#btn_container{
    /*background-color: #252525;*/
    width: 20%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: right;
    align-content: center;
}
div.btn_border a{
    background-color: #fa3419;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}
div.btn_border a:hover{
    background-color: #a11300;
    border-bottom: 1px solid rgba(0, 0, 0, 0.692);
}
div#title{
    min-width: 1200px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
table#table_users{
    min-width: 1200px;
    width: 80%;
    border-collapse: separate;
    margin: 0;
    overflow:scroll;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    border-spacing: 0px;
}
table#table_users th, td{
    text-align: left;
    padding: 15px;
}
table#table_users th{
    border-bottom: 1px solid #c5c5c5;
}
table#table_users td#fst_cell{
    border-bottom-left-radius: 10px; 
}
table#table_users td#last_cell{
    border-bottom-right-radius: 10px;
}
table#table_users th#fst_cell_top{
    border-top-left-radius: 10px;
}
table#table_users th#last_cell_top{
    border-top-right-radius: 10px;
}
table#table_users td{
    border-bottom: 1px;
}

table#table_users tr{
    background-color: #fff;
}
/*table#table_users tr:nth-child(even) {
    background-color: #f8f8f8;
}*/
table#table_users tr.td_users:hover{
    background-color: #ffd7d2;
}
table#table_users a{
    padding: 10px;
    text-decoration: none;
    color: #fa3419;
    margin-right: -10px;;
}
table#table_users a:hover{
    text-decoration: underline;
    color: #fa3419;
}
table#table_users .nome{
    font-weight: bold;
}
table#table_users .info{
    color: #686868;
}
